/* Styles reset */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	/*color: #323236;*/
	color: #d50000;
}

h1, h3 {
	margin: 0;
}

/*p {
	margin: 0;
	padding: 0;
}*/

/* style of info bar */
.infoDiv {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(253, 42, 42, 0.29);
	color: #fff;
	border-bottom: 1px solid #000;
}

body {
	font-size: 1.1em;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	color: #323236;
	background: url('img/bg3.jpg') top center repeat-y;
	background-size: auto 100%;
	overflow: hidden; /* for mobile to hide sidebar */
	/*letter-spacing: .05em;*/
}

.content {

}

.header {
	background-color: #fff;
	min-height: 37px;
	max-height: 70px;
}

ul.lang-select {
	float: left;
	text-align: center;
	font-size: 0.8em;
}

ul.lang-select li {
	padding: 15px 10px;
	float: left;
}

ul.lang-select li a {
	color: #323236;
}

.sidebar ul.lang-select {
	display: none;
}

.header .logo {
	max-width: 203px;
}

.header .logo {
	width: 30%;
	min-width: 96px;
	margin: 0 auto;
}

.logo img {
	width: 100%;
}

.menu-icon {
	float: right;
	font-size: 2em;
	font-weight: bolder;
	padding: 0 10px;
	color: #323236;
}

.slider {
	clear: both;
	margin-top: 4%;
	overflow: hidden;
	position: relative;
}

.slider ul {
	transition: margin-left 600ms ease;
	-webkit-transition: margin-left 600ms ease;
}

.slider ul li {
	position: relative;
	display: block;
	float: left;
	height: 1px;
}

.slider ul li.visible {
	height: auto;
}

.slider ul li img {
	width: 100%;
	display: block;
}

.banner-text {
	padding: 10px 50px 10px;
	background-color: #323236;
	color: #fff;
}

.banner-text p {
	letter-spacing: .1em;
	line-height: 1.5em;
}

.banner-text a {
	background-color: #d50000;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.prev, .next {
	width: 75px;
	height: 75px;
	background: rgba(255,255,255,0.9);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	display: block;
	text-align: center;
	position: absolute;
	z-index: 4;
	top: 175px;
	line-height: 75px;
	font-size: 1.5em;
	font-weight: bold;
	text-indent: -99999px;
}

a.prev {
	left: -38px;
}

a.prev i {
	font-style: normal;
	padding-left: 30px;
}

a.next {
	right: -38px;
}

a.next i {
	font-style: normal;
	padding-right: 30px;
}

a.next:after {
	content: "";
	background-image: url(img/arrows.svg);
	background-repeat: no-repeat;
	background-position: -43px 11px;
	line-height: 2.8em;
	color: #111;
	font-weight: 800;
	position: absolute;
	width: 2.8em;
	height: 2.8em;
	left: 50%;
	top: 50%;
	margin-top: -1.4em;
	margin-left: -2.0em;
}

a.prev:after {
	content: "";
	background-image: url(img/arrows.svg);
	background-repeat: no-repeat;
	line-height: 2.8em;
	color: #111;
	font-weight: 800;
	position: absolute;
	width: 2.4em;
	height: 2.4em;
	left: 50%;
	top: 50%;
	margin-top: -1em;
	margin-left: -.2em;
}

.news, .sign-up, .item-box {
	width: 88%;
	margin: 4% auto;
	background-color: #fff;
	padding: 0 10px 1px;
}

.news-item {
	line-height: 1.4em;
	border-bottom: 1px solid #323236;
	display: block;
	padding-bottom: 10px;
	margin-top: 10px;
	color: #323236;
}

.news-item b {
	font-size: 1.2em;
}

.sign-up input[type="input"] {
	width: 98%;
	height: 2.4em;
}

.sign-up input[type="submit"] {
	padding: 10px 20px;
	margin: 20px 0 10px;
	font-size: 1em;
	color: #fff;
	background-color: #d50000;
	border: 0;
	cursor: pointer;
	display: block;
}

.sidebar {
	width: 100%;
	height: 100%;
	background-color: #eee;
	position: absolute;
	top: 0;
	right: -100%;
	z-index: 5;
	transition: right 500ms ease;
}

.sidebar .logo {
	display: none;
}

.close-icon {
	float: right;
	font-size: 2em;
	font-weight: bolder;
	padding: 0 10px;
	color: #323236;
}

ul.menu {
	width: 60%;
	padding: 6% 13%;;
}

ul.menu li {
	padding: 8px 0;
}

ul.menu a {
	color: #323236;
}

ul.menu a:hover {
	color: #d50000;
}

.open {
	right: 0;
}	

.information {
	background-color: rgba(87, 87, 87, 0.81);
	color: #e4e4e4;
	padding-bottom: 6%;
}

.info-block {
	width: 88%;
	margin: 15px auto 0;
	padding: 0 10px 1px;
}

.info-block a {
	color: #e4e4e4;
}

.info-block a:hover {
	color: #fff;
}

.info-block .news-item {
	border-bottom: 1px solid #e4e4e4;
}

.schedule {
	border: 1px solid #c0c0c0;
	position: relative;
	font-size: .9em;
}

.time {
	width: 100%;
	padding-left: 5px;
}

.time li {
	border-bottom: 1px dotted #c0c0c0;
}

.days {
	margin-left: 50px;
	position: absolute;
	top: 0;
	text-align: center;
}

.day {
	width: 12%;
	display: table-cell;
}

.day li {
	background-color: #F1C8C8;
	margin: 1px 5px;
}

.not-first-day {
	display: none;
}

li.empty {
	text-indent: -9999px;
	background-color: transparent;
}

.inner b {
	font-size: 1.2em;
}

.inner img {
		width: 100%;
	}

@media (min-width: 340px), (min-device-width: 340px) {
	body {
		background-size: cover;
	}
}

@media (min-width: 700px) {
	.banner-text {
		position: absolute;
		top: 0;
		left: 0;
		width: 25%;
		height: 100%;
		background-color: rgba(209, 209, 209, 0.6);
		padding: 20px 20px 10px 50px;
	}

	.slider {
		max-height: 400px;
	}

	.news, .sign-up, .item-box {
		width: 50%;
		margin: 0 -4px 0 0;
		display: inline-block;
		vertical-align: top;
		background-color: transparent;
		padding: 0;
	}

	.item-box {
		width: 100%;
	}

	.inner {
		background-color: #fff;
		padding: 4%;
	}

	.item-box .inner {
		padding: 2%;
	}

	/*.inner img {
		width: 100%;
	}*/

	.left-block {
		margin: 4% 2% 4% 4%;
	}

	.right-block {
		margin: 4% 4% 4% 2%;
	}

	.big-block {
		margin: 2% 2% 000;
	}

	.menu-icon {
		padding-top: 16px;
	}

	.sign-up input[type="input"] {
		width: 73%;
		margin-right: 3%;
	}

	.sign-up input[type="submit"] {
		display: inline;;
	}
}

@media (min-width: 800px) {
	body {
		overflow: visible;
	}
	.header {
		display: none;		
	}

	.content {
		margin-right: 25%;
	}

	.slider {
		max-height: 400px;
		margin: 2% 2% 0;
		border: 20px solid #fff;
	}

	.sidebar {
		position: fixed;
		top: 0;
		right: 0;
		width: 25%;
		height: 100%;
	}

	.close-icon {
		display: none;
	}

	ul.menu {
		width: 100%;
	}

	.sidebar ul.lang-select {
		display: block;
		float: right;
	}

	ul.lang-select li {
		float: none;
		padding: 15px 10px 0;
	}

	.sidebar .logo {
		display: block;
		width: 70%;
		min-width: 96px;
		margin: 10px 0 0 9%;
		max-width: 270px;
	}

	.main {
		margin-left: 33.4%;
		margin-bottom: 1.4%;
	}

	.information {
		width: 25%;
		position: absolute;
		top: 0;
		left: 0;
		padding-bottom: 1.5%;
	}

	.not-first-day {
		display: table-cell;
	}

}