/* Styles reset */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #323236;
}

h1, h3 {
	margin: 0;
}

/*p {
	margin: 0;
	padding: 0;
}*/

/* style of info bar */
.infoDiv {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(253, 42, 42, 0.29);
	color: #fff;
	border-bottom: 1px solid #000;
}

body {
	font-size: 1em;
	font-family: Helvetica;
	color: #323236;
	background: url('bg2.jpg') top center repeat-y;
	background-size: auto 100%;
	overflow: hidden;
}

.content {

}

.header {
	background-color: #fff;
	min-height: 37px;
	max-height: 70px;
}

.header .logo {
	max-width: 203px;
}

.header .logo {
	width: 30%;
	min-width: 96px;
	margin: 0 auto;
}

.logo img {
	width: 100%;
}

.menu-icon {
	float: right;
	font-size: 2em;
	font-weight: bolder;
	padding: 0 10px;
}

.slider {
	clear: both;
	margin-top: 15px;
	overflow: hidden;
	position: relative;
}

.slider ul {
	transition: margin-left 500ms ease;
	-webkit-transition: margin-left 500ms ease;
}

.slider ul li {
	position: relative;
	display: block;
	float: left;
	height: 1px;
}

.slider ul li.visible {
	height: auto;
}

.slider ul li img {
	width: 100%;
	display: block;
}

.banner-text {
	padding: 10px 50px 10px;
	background-color: #323236;
	color: #fff;
}

.banner-text p {
	font-size: .95em;
}

.banner-text a {
	background-color: #d50000;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.prev, .next {
	width: 75px;
	height: 75px;
	background: rgba(255,255,255,0.9);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	display: block;
	text-align: center;
	position: absolute;
	z-index: 4;
	top: 175px;
	line-height: 75px;
	font-size: 1.5em;
	font-weight: bold;
}

a.prev {
	left: -38px;
}

a.prev i {
	font-style: normal;
	padding-left: 30px;
}

a.next {
	right: -38px;
}

a.next i {
	font-style: normal;
	padding-right: 30px;
}

.news, .sign-up {
	width: 88%;
	margin: 15px auto 10px;
	background-color: #fff;
	padding: 0 10px 1px;
}

.news-item {
	line-height: 1.4em;
	border-bottom: 1px solid #323236;
	display: block;
	padding-bottom: 10px;
}

.sign-up input[type="input"] {
	width: 98%;
}

.sign-up input[type="submit"] {
	padding: 10px 20px;
	margin: 20px 0 10px;
	font-size: 1em;
	color: #fff;
	background-color: #d50000;
	border: 0;
	cursor: pointer;
	display: block;
}

.sidebar {
	width: 100%;
	background-color: #eee;
	position: absolute;
	top: 0;
	right: -100%;
	z-index: 5;
	transition: right 500ms ease;
}

.sidebar .logo {
	display: none;
}

.close-icon {
	float: right;
	font-size: 2em;
	font-weight: bolder;
	padding: 0 10px;
}

ul.menu {
	width: 60%;
	padding: 20px;
}

ul.menu li {
	padding: 8px 0;
}

.open {
	right: 0;
}

@media (min-width: 340px) {
	body {
		background-size: cover;
	}
}

@media (min-width: 700px) {
	.banner-text {
		position: absolute;
		top: 0;
		left: 0;
		width: 25%;
		height: 100%;
		background-color: rgba(209, 209, 209, 0.6);
		padding: 20px 20px 10px 50px;
	}

	.slider {
		max-height: 400px;
	}

	.news, .sign-up {
		width: 43%;
		margin: 15px 0 10px 20px;
		display: inline-table;
	}

	.menu-icon {
		padding-top: 16px;
	}
}

@media (min-width: 800px) {
	.header {
		display: none;		
	}

	.content {
		margin-right: 25%;
	}

	.slider {
		max-height: 400px;
		margin: 20px;
		border: 20px solid #fff;
	}

	.sidebar {
		position: fixed;
		top: 0;
		right: 0;
		width: 25%;
		height: 100%;
	}

	.close-icon {
		display: none;
	}

	ul.menu {
		width: 100%;
	}

	.sidebar .logo {
		display: block;
		width: 70%;
		min-width: 96px;
		margin: 10px auto 0;
	}
}